/* style for body element*/
body {background-color:hsl(218, 28%, 13%);
    font-family: 'raleway', sans-serif;
   
}
/* style navbar start*/
nav{display: flex;
    background-color:hsl(217, 28%, 15%);
    justify-content: space-between;
align-items: center;
/* height:80px;*/
padding: 20px;
max-width: 100%;}

.logo img{width: 70px;
   
}

.main{background-color:hsl(217, 28%, 15%);}
.href ul li{display: inline;
/* padding: 8px; */}

.href ul{list-style-type:none;
margin: 0;}

.href ul li a{color: hsl(0, 0%, 100%);

font-size: 15px;
font-weight:200;
margin-right: 10px;
text-decoration: none;
text-transform: capitalize;
/* padding-left:20px; */
}

/* style navbar end*/

/* navbar2 start*/
.illustration-content{max-width: 80%;
margin: 0 auto;}

.illustration-content img{width: 100%;}

.head-content{
color: hsl(0, 0%, 100%);
width:340px ;
margin:auto;
text-align: center;}

.head-content p{font-size: 14px;
    background-color:hsl(218, 28%, 13%);
    
    color: hsl(0, 0%, 100%);
opacity: 0.7;

text-align: center;
margin:0 28px;}

.contained{background-image:url(bg-curvy-mobile.svg);
    background-color:hsl(217, 28%, 15%); 
    
background-repeat: no-repeat;
background-position:0 90%;
background-size:100% 59%;}

.head-button{background-color: linear-gradient(to right, hsl(176, 68%, 64%),
     hsl(198, 60%, 50%));
font-size: 14px;
padding: 10px 80px;
border-radius:30px;
margin: 20px auto;
font-weight: 700;
border: 50px;
display: block;

color: hsl(0, 0%, 100%);}

/* navbar2 end */

/* access style start */
.access{max-width:350px;
    /* background-color:yellow; */
margin: 0 auto;
padding: 40px 30px;}
.access img{max-width: 80px;
    display: block;
    margin: 60px auto 0;
}

.access h2{color: hsl(0, 0%, 100%);
    font-size: 17px;

margin:20px 0 10px 0;
font-weight: 700;
text-align: center;
}

.access p{color:hsl(0, 0%, 100%);
    font-size: 14px;
    opacity: 0.7;
    margin:10px auto 0 auto;
   line-height: 1.4;
    font-weight: 400;
    text-align: center;}
    /* access style end */

    /* security style start */
.security{max-width:350px;
margin: 10px auto;
padding: 20px 20px 0;}

.security img{max-width: 80px;
    display: block;
    margin: 40px auto 0;
}

.security h2{color: hsl(0, 0%, 100%);
    font-size: 17px;
margin:30px 0 10px 0;
font-weight: 700;
text-align: center;
}

.security p{color:hsl(0, 0%, 100%);
     font-size: 14px;
    opacity: 0.7;
    margin:20px auto;
   line-height: 1.4;
    font-weight: 400;
    text-align: center;}
    /* security style end */

    /* collaboration style start */
    .collaboration{max-width:350px;
        margin: 10px auto;
        padding: 20px 20px 0;}
        
        .collaboration img{max-width: 80px;
            display: block;
            margin: 60px auto 10px;
        }
        
        .collaboration h2{color: hsl(0, 0%, 100%);
            font-size: 17px;
        margin:40px 0 20px 0;
        font-weight: 700;
        text-align: center;
        }
        
        .collaboration p{color:hsl(0, 0%, 100%);
             font-size: 14px;
            opacity: 0.7;
            margin:10px auto 10px auto;
           line-height: 1.4;
            font-weight: 400;
            text-align: center;}
            /* collaboration style end */

           /* file style start */
    .file {max-width:350px;
        margin: 10px auto;
        padding: 20px 20px 0;}
        
        .file img{max-width: 80px;
            display: block;
            margin: 80px auto 20px;
        }
        
        .file h2{color: hsl(0, 0%, 100%);
            font-size: 17px;
        margin:40px 0 20px 0;
        font-weight: 700;
        text-align: center;
        }
        
        .file p{color:hsl(0, 0%, 100%);
             font-size: 14px;
            opacity: 0.7;
            margin:10px auto;
           line-height: 1.4;
            font-weight: 400;
            text-align: center;}
            /* file style end */

            /* production style start */
.productive{max-width: 80%;
    margin: 160px 0 60px 30px;}

.productive img{width: 100%;
}
.productive h2{color: hsl(0, 0%, 100%);
    font-size: 17px;
margin:30px auto;
font-weight: 700;
text-align: center;
}

.productive p{color:hsl(0, 0%, 100%);
    font-size: 13px;
   opacity: 0.7;
   margin:20px  0 0;
   line-height: 1.4;
   font-weight: 400;
   }

.link2 ul li{display: inline;}
.link2 ul li{background-color: hsl(217, 28%, 15%);
    list-style-type:none;
margin: 0;

}
.link2 ul li a{color:  hsl(176, 68%, 64%);
font-size: 15px;
    font-weight:200;
    text-align: left;
    border-left: 10px;
    margin-left: 20px;
    /* display:inline-flex; */
    text-decoration: underline;}
.link2 img{width: 18px;
   
height: 18px;}
/* production end */

/* profile1 start */
.profile-quote{max-width: 30px;
display: block;
position: absolute;
top: 428%;
left: 12%;
z-index: 0;}

.profile-content{color: hsl(0, 0%, 100%);
    font-size: 14px;
margin:20px 40px 20px 10px;
padding: 70px 0 20px 0;
line-height: 1.6;
font-weight: 400;
border: 20px;
background-color: hsl(217, 28%, 15%);
}

.pro{width: 8px;
height: 8px;
border-radius: 3px;
justify-content: space-between;
align-items: left;}

.profile-list ul li{background-color: hsl(217, 28%, 15%);
    list-style-type:none;
    /* color: hsl(0, 0%, 100%);
margin: 20px; */

}
.name{color:  hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight:700;
    margin-left: 20px;
    text-align: left;
    border-left: 20px;}

    .post{color:  hsl(0, 0%, 100%);
        font-size: 14px;
        font-weight:400;
        opacity: 0.7;
        margin-left: 20px;
        text-align: left;
        border-left: 200px;}
    /* profile-list ul li a */
/* profile1 end */

/* profile2 start */
.profile-content2{color: hsl(0, 0%, 100%);
    font-size: 14px;
margin:20px 40px 20px 10px;
padding: 70px 0 20px 0;
line-height: 1.6;
font-weight: 400;
border: 20px;
background-color: hsl(217, 28%, 15%);
}



.img{width: 8px;
height:8px;
border-radius: 3px;
justify-content: space-between;
align-items: left;}

/* .profile-list ul li{display: inline;} */
.profile-list ul li{background-color: hsl(217, 28%, 15%);
    list-style-type:none;
margin: 0;

}
.name{color:  hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight:700;
    margin-left: 20px;
    text-align: left;
    border-left: 20px;}

    .post{color:  hsl(0, 0%, 100%);
        font-size: 14px;
        font-weight:400;
        opacity: 0.7;
        margin-left: 20px;
        text-align: left;
        border-left: 200px;}

/* profile2 end */

/* profile3 start */
.profile-content3{color: hsl(0, 0%, 100%);
    font-size: 14px;
margin:20px 40px 20px 10px;
padding: 70px 0 20px 0;
line-height: 1.6;
font-weight: 400;
border: 20px;
background-color: hsl(217, 28%, 15%);
}



.img{width: 8px;
height: 8px;
border-radius: 3px;
justify-content: space-between;
align-items: left;}

/* .profile-list ul li{display: inline;} */
.profile-list ul li{background-color: hsl(217, 28%, 15%);
    list-style-type:none;
margin: 0;

}
.name{color:  hsl(0, 0%, 100%);
   background-color: hsl(217, 28%, 15%);
    font-size: 17px;
    font-weight:700;
    margin-left: 20px;
    text-align: left;
    border-left: 20px;}

    .post{color:  hsl(0, 0%, 100%);
        background-color: hsl(217, 28%, 15%);
        font-size: 14px;
        font-weight:400;
        opacity: 0.7;
        margin-left: 20px;
        text-align: left;
        border-left: 200px;}

/* profile3 end */

/* site-email start */

.site{max-width: 90%;
    color: hsl(0, 0%, 100%);
    background-color:  hsl(217, 28%, 15%);
    margin: 0 auto;
    padding-top:40px;
    padding-bottom: 30px;
    border-radius: 10px;
position: relative;
text-align: center;
top: 200px;}

.site h6{color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-weight: 700;
    margin: 15px auto 5px auto;
    text-align: center;
}


.site-content{color:hsl(0, 0%, 100%);
    font-size: 14px;
   opacity: 0.8;
   margin:10px 30px 20px 20px;
   line-height: 1.5;
   font-weight: 400;
   }
input[type=email]{padding: 15px;
width: 80%;
border-radius: 50px;
outline:none;
border: none;}

.head-button2{background-color: linear-gradient(to right, hsl(176, 68%, 64%),
        hsl(198, 60%, 50%));
   font-size: 14px;
   padding: 15px 85px;
   border-radius:30px;
   margin: 20px 0px 20px 15px;
   font-weight: 700;
   border: 20px 30px;
   display: block;
   
   color: hsl(0, 0%, 100%);}
   .enter{font-size: 12px;
cursor: pointer;}
/* site-email end */

/* footer content start */

footer{background-color:  hsl(216, 53%, 9%);
padding: 120px 0;}

.footer-content{padding-top: 150px;

}
.location{padding:20px;
}

.footer-logo{max-width:40% !important;
padding: 15px;}

.footer-logo img{max-width: 100% !important;
 padding-right: 5px;}

 .location-solid{color: hsl(0, 0%, 100%);
    font-size: 14px;
    line-height:1.5;
    opacity: 0.8;
    margin:0 40px 0 10px;
    text-align:flex;
    display: block;
    padding-top: 30px;
}

.icon-location{width: 16px;
    height: 16px;
    color: hsl(0, 0%, 100%);
     margin-right:10px;
    margin-left: 3px;}

.contact p{display:;
 font-size: 14px;
text-align: left;
line-height:1.5;
opacity: 0.8;
color: hsl(0, 0%, 100%);
margin:0 20px 0 0px ;
padding-top: 20px;}


.contact-image{margin-right:15px;
margin-left: 3px;}


/* footer content end */

/* info start */
.About-us{padding-top: 30px;
padding-left: 20px;}

.About-us h5{color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 700;
}
.About-us a{color: hsl(0, 0%, 100%);
display: block;
font-size: 14px;
padding-top: 30px;
}

/* info end */

/* agreement start */

.Contact-us{padding-top: 30px;
    padding-left: 20px;}

.Contact-us h5{color: hsl(0, 0%, 100%);
        font-size: 14px;
        font-weight: 700;
    margin-bottom: 10px;}

.Contact-us a{color: hsl(0, 0%, 100%);
            display: block;
            font-size: 14px;
            padding-top: 20px;}

/* agreement end */


/* social-logo start */
/* 
.social-logo{ padding:5px;
color: hsl(0, 0%, 100%);
position: relative;
max-width: 5%;
left: 33%;
top: 220px;
background-color: red;

}
.social-logo a{width: 8px;
height: 8px;
padding: 8px;
border: 1px solid #ffffff;
font-size: 10px;} */
/* social-logo end */





















